<h1>Anúncios</h1>

<div>
  <ul>
    <% @ads.each do |ad| %>
      <li>
        <p><strong><%= ad.title %></strong></p>
        <p><strong><%= ad.description %></strong></p>
        <p><strong><%= ad.price %></strong></p>
      </li>
    <% end  %>
  </ul>
</div>
